{% extends "layout.html" %}

{% block title %} Create User Area {% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="{{url_for('map')}}">Interactive Map</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="{{url_for('test')}}">API TEST</a>
        </li>
    </ul>
    <form class="d-flex" role="search">
        <a class="btn btn-outline-success" href="{{url_for('logout')}}">Logout</a>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create User Area</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.name(class="form-select") }}
        <br>
        {{ form.area(class="form-select") }}
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}