{% extends "layout.html" %}

{% block title %} Create Door {% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="{{url_for('map')}}">Interactive Map</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="{{url_for('test')}}">API TEST</a>
        </li>
    </ul>
    <form class="d-flex" role="search">
        <a class="btn btn-outline-success" href="{{url_for('logout')}}">Logout</a>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create Door</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name">Name:</label>
                {{ form.name(class="form-control") }}
                <br>
                <label for="arssi1n">Entrance Probe1:</label>
                {{ form.drssi11(class="form-control") }}
                <br>
                <label for="arssi1s">Entrance Probe2:</label>
                {{ form.drssi12(class="form-control") }}
                <br>
                <label for="arssi1e">Entrance Probe3:</label>
                {{ form.drssi13(class="form-control") }}
                <br>
                <label for="arssi1w">Exit Probe1:</label>
                {{ form.drssi21(class="form-control") }}
                <br>
                <label for="arssi2n">Exit Probe2:</label>
                {{ form.drssi22(class="form-control") }}
                <br>
                <label for="arssi2s">Exit Probe3:</label>
                {{ form.drssi23(class="form-control") }}
                <br>
                <label for="arssi2s">Assigned Area:</label>
                {{ form.area(class="form-select") }}
            </div>
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
</div>
{% endblock %}