{% extends "layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="{{url_for('map')}}">Interactive Map</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="{{url_for('test')}}">API TEST</a>
        </li>
    </ul>
    <form class="d-flex" role="search">
        <a class="btn btn-outline-success" href="{{url_for('logout')}}">Logout</a>
    </form>
</div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Dashboard
            </div>
            <div class="card-body">
                <h4 class="card-title">Welcome back, Admin!</h4>
                <p class="card-text">
                    <strong>Login time: </strong>09:44:53 pm<br>
                    <strong>Security Clearance: </strong>Admin<br>
                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Trespassing Alerts
            </div>
            <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}