<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jquery-3.7.0.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WatchDog</title>
    <link rel="stylesheet" href="../static/bulma.min.css" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-form {
            width: 100px;
        }
    </style>
</head>
 <div>
    <h1>ADMIN PORTAL LOGIN</h1>
     <br>
    <form class="login-form" method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
 </div>

{#    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>#}
</body>

</html>